<div class="max-wrapper">

	<div>

		<section class="single">
			<h1 class="title">{{ Model.Article.Title}}</h1>


			<div class="taxonomies">
				<div>
					分类:
					<a href="{{ Model.Article.Category.Link }}">{{ Model.Article.Category.Name }}</a>


				</div>

				{% if Model.Article.Tags != null and Model.Article.Tags.size > 0 %}
				<div>
					标签:
					{% for tag in Model.Article.Tags %}
					<a href="{{ tag.Link }}">{{ tag.Name }}</a>
					{% endfor %}
				</div>
				
				{% endif %}
				<div>
					<span style="margin-left:10px">
						最后更新：
						<time datetime="{{ Model.Article.ModifyDate }}">{{ Model.Article.ModifyDate | format_date: "yyyy-MM-dd" }}</time>
					</span>
				</div>
			</div>

			<hr />

			<div class="content">
				{{ Model.Article.Content | raw }}
			</div>

			<hr />
			{% partial '_Comment' %}
		</section>
	</div>
</div>