<div class="row">

	<div class="col-sm-2 col-md-2">

		<div class="card left-menu">
			<div class="card-header">
				分类索引
			</div>
			<ul class="list-group list-group-flush">
				{% for cate in Model.AllCategories %}
				<li class="list-group-item">
					<a href="{{ cate.Link }}" title="{{ cate.Name }}">{{ cate.Name }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>


	<div class="col-sm-10 col-md-10">
		<div class="card right-content">
			<div class="card-header">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb  mb-0">
						<li class="breadcrumb-item">
							<a href="/">首页</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">{{ Model.SinglePage.Title }}</li>
					</ol>
				</nav>
			</div>
			<div class="card-body row">
				<article class="blog-post">
					<h2 class="display-5 link-body-emphasis mb-1">{{ Model.SinglePage.Title }}</h2>
					<p class="blog-post-meta">
						最后修改于：{{ Model.SinglePage.ModifyDate | format_date: "yyyy-MM-dd" }}
					</p>

					{{ Model.SinglePage.Content | raw }}
				</article>
			</div>
		</div>
	</div>
</div>