<footer class="footer">
	<div class="footer-row">

	</div>


	<div class="footer-row">

		<span class="footer-item">
			&copy; {{ "now" | format_date: "yyyy" }}

			<a href="{{ Model.Blog.Url }}" title="{{ Model.Blog.Name }}">{{ Model.Blog.Name }}</a> Powered by <a href="https://blog.yescent.com">Hyrule</a>
		</span>
		<span class="footer-item">
			&nbsp;&nbsp;
			<a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{{ Model.Blog.BeiAn }}</a>
		</span>
		
	</div>
</footer>
