<div class="max-wrapper">

	<div>

		<section id="archive">
			<h3 class="key">
				分类 {{ Model.Category.Name }} 下的文章：
			</h3>

			{% if Model.Articles.Items.size == 0 %}
			<div>
				<p> 没有任何文章。 </p>
			</div>
			{% endif %}
			{% for article in Model.Articles.Items %}
			<div class="group">

				<div class="value">
					<time class="date" datetime="{{ article.CreateDate }}">{{ article.CreateDate | format_date: "MM-dd" }}</time>

					<div class="title">

						<a href="{{ article.Link }}">{{ article.Title }}</a>

						{% for tag in article.Tags %}
						<a href="{{ tag.Link }}" class="tags">{{ tag.Name }}</a>
						{% endfor %}


					</div>
				</div>

			</div>
			{% endfor %}

		</section>
		{% partial '_Pagination' %}
	</div>
</div>